<div class='consoles'>
  <ul>
    <% @consoles.each do |console| %>
      <li><%= link_to "#{console.name}", console_path(console)%></li>
    <%end%>
  </ul>
</div>

<div id='cssmenu'>
<ul>
   <li class='active has-sub'><a href='#'><span>Products</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Product 1</span></a>

         </li>
         <li class='has-sub'><a href='#'><span>Product 2</span></a>

         </li>
      </ul>
   </li>
</ul>
</div>
