<li class="comment">
  <%= comment.text %>
  <%= link_to "Edit!", edit_article_comment_path(comment.article, comment) %>
  <%= link_to "Delete!", article_comment_path(comment.article, comment), method: :delete %>
</li>
