<div class="comments">
  <ul>
  <% comments.each do |comment| %>
    <%= render template: "comments/show", locals:{comment: comment} %>
  <% end %>
  </ul>
</div>
<div class="new-comment">
  <%= link_to "New Comment", new_comment_path %>
</div>