<div class='articles'>
  <ul>
    <% articles.each do |article| %>
      <li><%= link_to "#{article.title}", article_path(article)%><br>
      	<%= article.content_preview %></li>
    <%end%>
  </ul>
  <% if session[:user_id] %>
    <%= link_to "New Article", new_article_path %>
  <% end %>

</div>