footer {margin:0;padding:2em;background-color: black;text-align: center;}
footer h1 {color:white;font-size: 1.3em}
#home_banner h1, h2 {color: #FFFFFF; text-shadow: 2px 2px 8px #FF0000;}
#home_banner {background-image: url('home_background.jpg');background-repeat: no-repeat;background-size: cover;padding:15em;margin: 0 auto;text-align: center;}

