footer {margin:0;padding:2em;background-color: black}
#home_banner {background-image: url('home_background.jpg');background-repeat: no-repeat;background-size: cover;padding:15em;margin-top: -3.4em;}

